In [1]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.conf import SparkConf
import os

In [2]:
# Create my_spark
spark = SparkSession.builder.getOrCreate()

# Print my_spark
print(spark)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/14 22:06:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
<pyspark.sql.session.SparkSession object at 0x11ab54580>

In [21]:
# Print the tables in the catalog
print(spark.catalog.listTables())

[]

In [36]:
# to show configuration of spark
configuration = spark.sparkContext.getConf().getAll()
for item in configuration: 
    print(item)

('spark.driver.extraJavaOptions', '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED')
('spark.app.startTime', '1668425034999')
('spark.app.name', 'SparkByExample.com')
('spark.executor.id', 'driver')
('spark.app.submitTime', '1668425034832')
('spark.driver.host', 'ssamil-mbp-5.fritz.box')
('spark.rdd.compress', 'True')
('spark.app.id', 'local-1668425036321')
('spark.executor.extraJavaOptions', '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED')
('spark.serializer.objectStreamReset', '100')
('spark.driver.port', '57994')
('spark.submit.pyFiles', '')
('spark.submit.deployMode', 'client')
('spark.ui.showConsoleProgress', 'true')
('spark.master', 'local[1]')
('spark.sql.warehouse.dir', 'file:/Users/ssamilozkan/Desktop/pyspark/spark-warehouse')

In [42]:
# to connect Spark UI
sc = SparkContext.getOrCreate()
sc

In [43]:
sc.version

'3.3.1'

In [46]:
sc.sparkUser()

'ssamilozkan'

In [47]:
sc.appName

'SparkByExample.com'

In [50]:
sc.stop()

In [205]:
# to build a new SparkSession
spark1 = SparkSession.builder\
    .master("local")\
    .appName('Spark1')\
    .getOrCreate()
    
sc = spark1.sparkContext
sc

In [206]:
# to read csv file
from pyspark.sql import SQLContext
spark_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('/Users/ssamilozkan/Desktop/pyspark/flights_small.csv')
spark_df.head(5)

[Row(year=2014, month=12, day=8, dep_time='658', dep_delay='-7', arr_time='935', arr_delay='-5', carrier='VX', tailnum='N846VA', flight=1780, origin='SEA', dest='LAX', air_time='132', distance=954, hour='6', minute='58'),
 Row(year=2014, month=1, day=22, dep_time='1040', dep_delay='5', arr_time='1505', arr_delay='5', carrier='AS', tailnum='N559AS', flight=851, origin='SEA', dest='HNL', air_time='360', distance=2677, hour='10', minute='40'),
 Row(year=2014, month=3, day=9, dep_time='1443', dep_delay='-2', arr_time='1652', arr_delay='2', carrier='VX', tailnum='N847VA', flight=755, origin='SEA', dest='SFO', air_time='111', distance=679, hour='14', minute='43'),
 Row(year=2014, month=4, day=9, dep_time='1705', dep_delay='45', arr_time='1839', arr_delay='34', carrier='WN', tailnum='N360SW', flight=344, origin='PDX', dest='SJC', air_time='83', distance=569, hour='17', minute='5'),
 Row(year=2014, month=3, day=9, dep_time='754', dep_delay='-1', arr_time='1015', arr_delay='1', carrier='AS', tailnum='N612AS', flight=522, origin='SEA', dest='BUR', air_time='127', distance=937, hour='7', minute='54')]

In [69]:
spark_df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

In [207]:
# Print the tables in the catalog
print(spark1.catalog.listTables())

[Table(name='flights', database='default', description=None, tableType='MANAGED', isTemporary=False), Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [208]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [77]:
spark_df.cache()

DataFrame[year: int, month: int, day: int, dep_time: string, dep_delay: string, arr_time: string, arr_delay: string, carrier: string, tailnum: string, flight: int, origin: string, dest: string, air_time: string, distance: int, hour: string, minute: string]

In [209]:
spark_df.dtypes

[('year', 'int'),
 ('month', 'int'),
 ('day', 'int'),
 ('dep_time', 'string'),
 ('dep_delay', 'string'),
 ('arr_time', 'string'),
 ('arr_delay', 'string'),
 ('carrier', 'string'),
 ('tailnum', 'string'),
 ('flight', 'int'),
 ('origin', 'string'),
 ('dest', 'string'),
 ('air_time', 'string'),
 ('distance', 'int'),
 ('hour', 'string'),
 ('minute', 'string')]

In [210]:
spark_df.show(2, truncate=True)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 2 rows

In [211]:
spark_df.columns

['year',
 'month',
 'day',
 'dep_time',
 'dep_delay',
 'arr_time',
 'arr_delay',
 'carrier',
 'tailnum',
 'flight',
 'origin',
 'dest',
 'air_time',
 'distance',
 'hour',
 'minute']

In [92]:
spark_df.describe('year', 'minute').show()

+-------+------+-----------------+
|summary|  year|           minute|
+-------+------+-----------------+
|  count| 10000|            10000|
|   mean|2014.0|30.57244774919614|
| stddev|   0.0|17.98533264217002|
|    min|  2014|                0|
|    max|  2014|               NA|
+-------+------+-----------------+

In [84]:
# Print the tables in the catalog
spark1.catalog.listTables()

[]

In [212]:
spark_df.write.saveAsTable('flights')

AnalysisException: Table `flights` already exists.

In [213]:
# Print the tables in the catalog
spark1.catalog.listTables()

[Table(name='flights', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [96]:
# Don't change this query
query = "FROM flights SELECT * LIMIT 10"

# Get the first 10 rows of flights
flights10 = spark1.sql(query)

# Show the results
flights10.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

In [111]:
#This time the query counts the number of flights to each airport from SEA and PDX.
# Don't change this query
query = "SELECT origin, dest, COUNT(*) as N FROM flights GROUP BY origin, dest"

# Run the query
flight_counts = spark1.sql(query)

# Convert the results to a pandas DataFrame
pd_counts = flight_counts.toPandas()

# Print the head of pd_counts
print(pd_counts.head())

  origin dest    N
0    SEA  RNO    8
1    SEA  DTW   98
2    SEA  CLE    2
3    SEA  LAX  450
4    PDX  SEA  144

In [98]:
spark_airports_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('/Users/ssamilozkan/Desktop/pyspark/airports.csv')
spark_airports_df.head(5)

[Row(faa='04G', name='Lansdowne Airport', lat=41.1304722, lon=-80.6195833, alt=1044, tz=-5, dst='A'),
 Row(faa='06A', name='Moton Field Municipal Airport', lat=32.4605722, lon=-85.6800278, alt=264, tz=-5, dst='A'),
 Row(faa='06C', name='Schaumburg Regional', lat=41.9893408, lon=-88.1012428, alt=801, tz=-6, dst='A'),
 Row(faa='06N', name='Randall Airport', lat=41.431912, lon=-74.3915611, alt=523, tz=-5, dst='A'),
 Row(faa='09J', name='Jekyll Island Airport', lat=31.0744722, lon=-81.4277778, alt=11, tz=-4, dst='A')]

In [100]:
spark1.catalog.listTables()

[Table(name='flights', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [102]:
# Add spark_temp to the catalog - alternative way
spark_airports_df.createOrReplaceTempView(name = "airports")

In [103]:
spark1.catalog.listTables()

[Table(name='flights', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [105]:
#Use the spark.table() method with the argument "flights" to create a DataFrame containing the values of the flights table in the .catalog. Save it as flights
flights = spark1.table("flights")
flights.show(5)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 5 rows

In [106]:
# pdate flights to include a new column called duration_hrs, that contains the duration of each flight in hours (you'll need to divide air_time by the number of minutes in an hour).
flights = flights.withColumn("duration_hrs", flights.air_time/60)

In [107]:
flights.show(5)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|      duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|               2.2|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|               6.0|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|              1.85|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|1.3833333333333333|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|2.1166666666666667|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
only showing top 5 rows

In [117]:
flights.dtypes

[('year', 'int'),
 ('month', 'int'),
 ('day', 'int'),
 ('dep_time', 'string'),
 ('dep_delay', 'string'),
 ('arr_time', 'string'),
 ('arr_delay', 'string'),
 ('carrier', 'string'),
 ('tailnum', 'string'),
 ('flight', 'int'),
 ('origin', 'string'),
 ('dest', 'string'),
 ('air_time', 'string'),
 ('distance', 'int'),
 ('hour', 'string'),
 ('minute', 'string'),
 ('duration_hrs', 'double')]

In [141]:
# Add New Column with Constant Value
from pyspark.sql.functions import lit
if "duration_hrs"  not in flights.columns:
    flights.withColumn("duration_hrs", lit(flights.air_time/60)).show(5)

In [146]:
#following query returns a table of tail numbers and destinations for flights that lasted more than 10 hours
query = "SELECT dest, tailnum FROM flights"

# Run the query
flight_more_10_hours = spark1.sql(query)

# Convert the results to a pandas DataFrame
flight_more_10_hours_df = flight_more_10_hours.toPandas()

# Print the head of pd_counts
print(flight_more_10_hours_df.head())

  dest tailnum
0  LAX  N846VA
1  HNL  N559AS
2  SFO  N847VA
3  SJC  N360SW
4  BUR  N612AS

In [145]:
flights.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)
 |-- duration_hrs: double (nullable = true)

In [147]:
spark1.catalog.listTables()

[Table(name='flights', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [148]:
# First, pass a SQL string to .filter() that checks whether the distance is greater than 1000. Save this as long_flights1.
long_flights1 = flights.filter("distance > 1000")
long_flights1.show(5)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|     duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|              6.0|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|             2.25|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|              3.3|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|2.566666666666667|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|             3.05|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
only showing top 5 rows

In [151]:
#Then pass a column of boolean values to .filter() that checks the same thing. Save this as long_flights2.
# Filter flights by passing a column of boolean values
long_flights2 = flights.filter(flights.distance < 1000)
long_flights2.show(5)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|      duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|               2.2|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|              1.85|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|1.3833333333333333|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|2.1166666666666667|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|2.0166666666666666|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
only showing top 5 rows

In [158]:
# Select the columns "tailnum", "origin", and "dest" from flights by passing the column names as strings. Save this as selected1.
# Select the first set of columns
selected1= flights.select("tailnum", "origin","dest")
selected1.show(3)

+-------+------+----+
|tailnum|origin|dest|
+-------+------+----+
| N846VA|   SEA| LAX|
| N559AS|   SEA| HNL|
| N847VA|   SEA| SFO|
+-------+------+----+
only showing top 3 rows

In [157]:
# Select the second set of columns
temp = flights.select(flights.origin, flights.dest, flights.carrier)
temp.show(3)

+------+----+-------+
|origin|dest|carrier|
+------+----+-------+
|   SEA| LAX|     VX|
|   SEA| HNL|     AS|
|   SEA| SFO|     VX|
+------+----+-------+
only showing top 3 rows

In [160]:

# Define first filter
filterA = flights.origin == "SEA"

# Define second filter
filterB = flights.dest == "PDX"
# Filter the data, first by filterA then by filterB
selected2 = temp.filter(filterA).filter(filterB)
selected2.show(5)

+------+----+-------+
|origin|dest|carrier|
+------+----+-------+
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
+------+----+-------+
only showing top 5 rows

In [161]:
# Select 2
#Calculate average speed by dividing the distance by the air_time (converted to hours). Use the .alias() method name this column "avg_speed". Save the output as the variable avg_speed.
avg_speed = (flights.distance/(flights.air_time/60)).alias("avg_speed")

# Select the correct columns
speed1 = flights.select("origin", "dest", "tailnum", avg_speed)
speed1.show(5)

+------+----+-------+------------------+
|origin|dest|tailnum|         avg_speed|
+------+----+-------+------------------+
|   SEA| LAX| N846VA| 433.6363636363636|
|   SEA| HNL| N559AS| 446.1666666666667|
|   SEA| SFO| N847VA|367.02702702702703|
|   PDX| SJC| N360SW| 411.3253012048193|
|   SEA| BUR| N612AS| 442.6771653543307|
+------+----+-------+------------------+
only showing top 5 rows

In [162]:
# Create the same table using a SQL expression
speed2 = flights.selectExpr("origin", "dest", "tailnum", "distance/(air_time/60) as avg_speed")
speed2.show(5)

+------+----+-------+------------------+
|origin|dest|tailnum|         avg_speed|
+------+----+-------+------------------+
|   SEA| LAX| N846VA| 433.6363636363636|
|   SEA| HNL| N559AS| 446.1666666666667|
|   SEA| SFO| N847VA|367.02702702702703|
|   PDX| SJC| N360SW| 411.3253012048193|
|   SEA| BUR| N612AS| 442.6771653543307|
+------+----+-------+------------------+
only showing top 5 rows

### Aggregating
- All of the common aggregation methods, like `.min(), .max(), and .count()` are GroupedData methods. These are created by calling the `.groupBy()`DataFrame method. You'll learn exactly what that means in a few exercises. For now, all you have to do to use these functions is call that method on your DataFrame. For example, to find the minimum value of a column, col, in a DataFrame, df, you could do
- Now you're ready to do some aggregating of your own!

- A SparkSession called spark1 is already in your workspace, along with the Spark DataFrame flights.

In [164]:
# Find the length of the shortest (in terms of distance) flight that left PDX by first .filter()ing and using the .min() method.
# Perform the filtering by referencing the column directly, not passing a SQL string.
# Find the shortest flight from PDX in terms of distance
flights.filter(flights.origin == 'PDX').groupBy().min('distance').show()

+-------------+
|min(distance)|
+-------------+
|          106|
+-------------+

In [170]:
#Find the length of the longest (in terms of time) flight that left SEA by filter()ing and using the .max() method. Perform the filtering by referencing the column directly, not passing a SQL string.
# Find the longest flight from SEA in terms of air time
flights.filter(flights.origin == "SEA").groupBy().max("day").show()

+--------+
|max(day)|
+--------+
|      31|
+--------+

In [169]:
flights.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)
 |-- duration_hrs: double (nullable = true)

In [172]:
# Use the .avg() method to get the average flight of Delta Airlines flights (where the carrier column has the value "DL") that left SEA.
# The place of departure is stored in the column origin. show() the result.
flights.filter(flights.carrier == "DL").filter(flights.origin == "SEA").groupBy().avg("flight").show()

+------------------+
|       avg(flight)|
+------------------+
|1633.8229854689564|
+------------------+

In [173]:
# Total hours in the air
# Use the .sum() method to get the total number of hours all planes in this dataset spent in the air by creating a column called duration_hrs from the column air_time. show() the result.
flights.withColumn("duration_hrs", flights.air_time/60).groupBy().sum("duration_hrs").show()

+------------------+
| sum(duration_hrs)|
+------------------+
|25289.600000000126|
+------------------+

## Grouping and Aggregating I
 - Part of what makes aggregating so powerful is the addition of groups. PySpark has a whole class devoted to grouped data frames: `pyspark.sql.GroupedData`, which you saw in the last two exercises.

- You've learned how to create a grouped DataFrame by calling the `.groupBy()` method on a DataFrame with no arguments.

- Now you'll see that when you pass the name of one or more columns in your DataFrame to the `.groupBy()` method, the aggregation methods behave like when you use a GROUP BY statement in a SQL query!

- Remember, a `SparkSession` called spark is already in your workspace, along with the Spark DataFrame flights.

In [180]:
# Create a DataFrame called by_plane that is grouped by the column tailnum.
# Group by tailnum
by_plane = flights.groupBy("tailnum")
by_plane.count().show(5)

+-------+-----+
|tailnum|count|
+-------+-----+
| N442AS|   38|
| N102UW|    2|
| N36472|    4|
| N38451|    4|
| N73283|    4|
+-------+-----+
only showing top 5 rows

In [185]:
# Group by origin
by_origin = flights.groupBy("origin")

# Average flights from PDX and SEA
by_origin.avg("flight").show()

+------+------------------+
|origin|       avg(flight)|
+------+------------------+
|   SEA|1188.9076103050045|
|   PDX|1744.0323475046212|
+------+------------------+

## Grouping and Aggregating II
- In addition to the GroupedData methods you've already seen, there is also the `.agg()` method. This method lets you pass an aggregate column expression that uses any of the aggregate functions from the `pyspark.sql.functions` submodule.

- This submodule contains many useful functions for computing things like standard deviations. All the aggregation functions in this submodule take the name of a column in a GroupedData table.

- Remember, a `SparkSession` called `spark1` is already in your workspace, along with the Spark DataFrame flights. The grouped DataFrames you created in the last exercise are also in your workspace.

In [187]:
# Import the submodule pyspark.sql.functions as F.
import pyspark.sql.functions as F

#Create a GroupedData table called by_month_dest that's grouped by both the month and dest columns. 
# Refer to the two columns by passing both strings as separate arguments.
# Group by month and dest
by_month_dest = flights.groupBy("month", "dest")

#Use the .avg() method on the by_month_dest DataFrame to get the average dep_delay in each month for each destination. Save the result as avg_delay.
by_month_dest.avg("dep_delay").show()

# Find the standard deviation of dep_delay by using the .agg() method with the function F.stddev().
by_month_dest.agg(F.stddev("dep_delay")).show()

AnalysisException: "dep_delay" is not a numeric column. Aggregation function can only be applied on a numeric column.

NoneType

In [215]:
# Convert the data types sting to integer
from pyspark.sql.types import IntegerType,BooleanType,DateType

flights.withColumn("dep_delay", flights.dep_delay.cast(IntegerType())).printSchema()

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [194]:
import pyspark.sql.functions as F

#Create a GroupedData table called by_month_dest that's grouped by both the month and dest columns. 
# Refer to the two columns by passing both strings as separate arguments.
# Group by month and dest
by_month_dest = flights.groupBy("month", "dest")

#Use the .avg() method on the by_month_dest DataFrame to get the average dep_delay in each month for each destination. Save the result as avg_delay.
by_month_dest.avg("dep_delay").show()

# Find the standard deviation of dep_delay by using the .agg() method with the function F.stddev().
by_month_dest.agg(F.stddev("dep_delay")).show()

AnalysisException: "dep_delay" is not a numeric column. Aggregation function can only be applied on a numeric column.